/* Estilos para el contenedor de la contraseña */
.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Espacio para el botón del ojo */
}

.password-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    color: #555;
}

.password-container button:focus {
    outline: none;
}

#loginBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginBtn:hover {
    background-color: #0056b3;
}

#loginBtn i {
    margin-right: 5px;
}
