/* Estilos de los pasos */
.tracking-container {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.tracking-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

.step {
    flex: 1;
    position: relative;
    text-align: center; /* Asegura que todo esté centrado */
}

.step .icon-circle {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid transparent; /* Borde transparente por defecto */
}

.step.active .icon-circle {
    border-color: #4caf50; /* Borde verde cuando está activo */
    background-color: #4caf50; /* Fondo verde cuando está activo */
}

.connector {
    flex: 1;
    height: 4px;
    background-color: #e0e0e0;
    margin: 0 -4px; /* Ajustar para conectar las líneas correctamente */
    transition: background-color 0.3s ease-in-out; /* Transición suave */
}

.connector.active {
    background-color: #4caf50; /* Verde cuando el paso siguiente está activo */
}

.step p {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

.step img {
    transition: filter 0.3s ease-in-out;
}

.step.highlight img {
    filter: grayscale(0%); /* Asegura que el icono esté a color */
}

.step.highlight p {
    color: green;
    font-weight: bold;
}

/* Estilos para el nuevo estado */
.status-aceptado {
    color: #4caf50; /* Color verde para el estado aceptado */
}

.step.active .icon-circle.aceptado {
    background-color: #4caf50; /* Fondo verde cuando está activo */
    border-color: #4caf50; /* Borde verde cuando está activo */
}

.update-log {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.update-log p {
    margin: 5px 0;
    font-size: 14px;
}
.notification-log {
    margin-top: 20px;
}

.notification-entry {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}

.notification-entry p {
    margin: 0;
    font-size: 14px;
}
